
/* MAIN WRAPPER */
.analytics-card {
  max-width: 900px;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  padding: 10px;
}

/* TITLE */
.analytics-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #111827;
}

/* SECTION BOX */
.filter-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

/* SECTION TITLE */
.filter-box h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #374151;
}

/* INPUTS */
.filter-box input ,.filter-box select{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

/* BUTTON */
.filter-box button {
  padding: 10px 14px;
  background: #06b6d4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.filter-box button:hover {
  background: #0891b2;
}

/* STATS GRID */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 12px;
  margin-top: 15px;
}

/* STAT BOX */
.stat-box {
  padding: 15px;
  border-radius: 12px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* COLORS */
.min {
  background: linear-gradient(135deg, #f59e0b, #f97316);
}

.avg {
  background: linear-gradient(135deg, #4f46e5, #6366f1);
}

.max {
  background: linear-gradient(135deg, #16a34a, #22c55e);
}

/* TEXT */
.stat-box h4 {
  margin: 0;
  font-size: 13px;
  opacity: 0.9;
}

.stat-box p {
  margin-top: 6px;
  font-size: 18px;
  font-weight: bold;
}

/* DIVIDER */
hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}